.wkode-carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  user-select: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 7rem;
  padding-bottom: 12rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 89%);

  &__header {
    position: relative;
    height: 25%;
    &-title {
      z-index: 998;
      position: relative;
    }
    &-price {
      z-index: 998;
      position: relative;
    }
    &-bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 997;
      display: block;
    }
  }
  &__body {
    height: 55%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  &__list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    &--unchecked {
      color: #820000;
    }

    &:not(:last-of-type) {
      margin-bottom: 2.1rem;
    }
    &-image {
      width: 3rem;
      height: auto;
      margin-right: 2.1rem;
    }
    &-text {
      text-align: left;
      font-size: 2rem;
      font-weight: 500;
    }
  }
  &__footer {
    position: relative;
    height: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    &-main-btn {
      z-index: 998;
      position: relative;
    }
    &-bg-image {
      position: absolute;

      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 997;
      display: block;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 90rem;
    justify-content: center;
    perspective: 90rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 0px;
    width: 50rem;
    height: 81rem;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    position: absolute;
    transition: all 0.3s ease-in;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    overflow: hidden;

    &:nth-child(1) {
      background: white;
    }
    &:nth-child(2) {
      background: white;
    }
    &:nth-child(3) {
      background: white;
    }
    &:nth-child(4) {
      background: white;
    }
    &:nth-child(5) {
      background: white;
    }

    &[data-pos="0"] {
      z-index: 5;
    }

    /* &[data-pos="-1"],
    &[data-pos="1"] {
      opacity: 0.7;
      filter: blur(1px) grayscale(10%);
    } */

    &[data-pos="-1"] {
      transform: translateX(-100%) scale(0.9);
      z-index: 4;
    }

    &[data-pos="1"] {
      transform: translateX(100%) scale(0.9);
      z-index: 4;
    }

    &[data-pos="-2"],
    &[data-pos="2"] {
      opacity: 0.9;
      filter: blur(3.3px) grayscale(20%);
    }

    &[data-pos="-2"] {
      transform: translateX(-70%) scale(0.8);
      z-index: 3;
    }

    &[data-pos="2"] {
      transform: translateX(70%) scale(0.8);
      z-index: 3;
    }
  }
}

@media (max-width: 1452px) {
  .wkode-carousel {
    &__item {
      &[data-pos="0"] {
        transform: scale(0.9);
      }

      /* &[data-pos="-1"],
          &[data-pos="1"] {
            opacity: 0.7;
            filter: blur(1px) grayscale(10%);
          } */

      &[data-pos="-1"] {
        transform: translateX(-50%) scale(0.7);
      }

      &[data-pos="1"] {
        transform: translateX(50%) scale(0.7);
      }

      &[data-pos="-2"] {
        transform: translateX(-45%) scale(0.5);
      }

      &[data-pos="2"] {
        transform: translateX(45%) scale(0.5);
      }
    }
  }
}

@media (max-width: 768px) {
  .wkode-carousel {
    &__item {
      &[data-pos="0"] {
        transform: scale(0.7);
      }

      /* &[data-pos="-1"],
          &[data-pos="1"] {
            opacity: 0.7;
            filter: blur(1px) grayscale(10%);
          } */

      &[data-pos="-1"] {
        transform: translateX(-30%) scale(0.4);
      }

      &[data-pos="1"] {
        transform: translateX(30%) scale(0.4);
      }

      &[data-pos="-2"] {
        transform: translateX(-20%) scale(0.3);
      }

      &[data-pos="2"] {
        transform: translateX(20%) scale(0.3);
      }
    }
    &__list {
      margin-top: -15rem;
    }
  }
}
@media (max-width: 500px) {
  .wkode-carousel {
    &__item {
      &[data-pos="0"] {
        transform: scale(0.5);
      }

      /* &[data-pos="-1"],
          &[data-pos="1"] {
            opacity: 0.7;
            filter: blur(1px) grayscale(10%);
          } */

      &[data-pos="-1"] {
        transform: translateX(-20%) scale(0.4);
      }

      &[data-pos="1"] {
        transform: translateX(20%) scale(0.4);
      }

      &[data-pos="-2"] {
        transform: translateX(-10%) scale(0.3);
      }

      &[data-pos="2"] {
        transform: translateX(10%) scale(0.3);
      }
    }
  }
}
@media (max-width: 400px) {
  .wkode-carousel {
    &__item {
      &[data-pos="0"] {
        transform: scale(0.5);
      }

      /* &[data-pos="-1"],
          &[data-pos="1"] {
            opacity: 0.7;
            filter: blur(1px) grayscale(10%);
          } */

      &[data-pos="-1"] {
        transform: translateX(-15%) scale(0.4);
      }

      &[data-pos="1"] {
        transform: translateX(15%) scale(0.4);
      }

      &[data-pos="-2"] {
        transform: translateX(-10%) scale(0.3);
      }

      &[data-pos="2"] {
        transform: translateX(10%) scale(0.3);
      }
    }
  }
}
