.wkode-header {
  z-index: 999;
  position: relative;
  &__nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3.9rem;
    position: relative;
    width: 100%;
  }
  &__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
  }
  &__logo-wraper {
    img {
      width: 9rem;
    }
  }
  &__icons-wraper {
  }
  &__social-media-icon {
    width: 3.4rem;
    height: 3.4rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin-left: 1rem;
    transition: all 0.3s;
    &:hover {
      opacity: 0.9;
    }
  }

  &__menu-container {
    width: 70%;
    ul.nav.navbar-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      .menu-item {
        margin-right: 3.3rem;
        font-size: 1.6rem;
        font-family: "Rubik", sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        padding-right: 1rem;
        padding-left: 1rem;
        white-space: nowrap;
      }
    }
  }
}
