.wkode-numbers {
  margin-top: 0rem;
  position: relative;
  &__wrapper {
    position: relative;
    z-index: 999;
  }
  &__bg-image {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 997;
  }
  &__icon {
    &-image {
      margin: auto;
      width: 10rem;
    }
  }
  &__text {
    &--header {
      font-style: italic;
      font-weight: normal;
    }
  }
}
@media (max-width: 768px) {
}
