.wkode-numbers {
  position: relative;
  margin-top: 7rem;
  &__wrapper {
    z-index: 999;
    position: relative;
  }
  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 997;
    display: block;
  }
  &__icon {
    &-image {
      width: 12rem;
      margin: auto;
    }
  }
  &__text {
    &--header {
      font-style: italic;
    }
  }
}
@media (max-width: 768px) {
}
