@use "base/tailwind";
@use "base/fonts";
@use "base/base-styles";
@use "base/animations";
@use "blocks/slider";

@import "components/content";
@import "components/header";
@import "components/hero-section";
@import "components/about-us";
@import "components/numbers";
@import "components/cards-slider";
@import "components/btn";
@import "components/testimonial";
@import "components/contact";
@import "components/footer";

.bg-list {
  background: #ededed;
}
.wkode-icons {
  background: #ededed;
  .wkode-icon {
    background: #071927;
    border-radius: 1.6rem;
    color: white;
    box-shadow: -6px 6px 0px -2px #06538F;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.7rem 1rem;

    img {
      height: 90px;
      width: auto;
    }
  }
  .wkode-icon-title {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.04rem;
    line-height: 6.6rem; /* 165% */
    margin-bottom: 5rem;
    text-align: center;
  }
  .wkode-icon-text {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.04rem;
    line-height: 6.6rem; /* 165% */
  }
}

.wkode-form-text {
  color: #979797;
  font-family: "Poppins", sans-serif;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wkode-svg-wrapper {
  img {
    position: relative;
    z-index: 9999;
  }
}

.wkode-single-used-bikes-template__form {
  .wkode-circle-hero {
    width: 80%;
    @media (max-width: 768px) {
      bottom: -7rem;
      top: auto;
    }
  }
  /* backdrop-filter: blur(12px); */
  background: white;
  min-height: 0.1rem;
  opacity: 0.1rem;
  overflow: hidden;
  /*  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem; */
  position: fixed;
  right: 50%;
  top: 200vh;
  transform: translate(50%, -50%);
  transition: all 0.3s;
  visibility: hidden;
  width: 50%;
  z-index: -1;
  &.modal-active {
    min-height: 60rem;
    top: 50%;
    visibility: visible;
    z-index: 9999;
  }
  .wpforms-container {
    min-height: 50rem;
    @media (max-width: 768px) {
      min-height: auto;
    }
    form.wpforms-validate.wpforms-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 50rem;
      @media (max-width: 768px) {
        min-height: auto;
      }
    }
  }
  @media (max-width: 768px) {
    width: 90%;
  }

  &-title {
    align-items: center;
    background-color: #ededed;
    color: #979797 !important;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 2.1rem;
    font-weight: 600;
    justify-content: space-between;
    padding: 2rem 4rem;
    text-transform: uppercase;
    span.close {
      cursor: pointer;
      img {
        width: 2.1rem;
      }
    }
  }
  .wpforms-container form .wpforms-field-container {
    input,
    textarea {
      background-color: transparent !important;
      border: 1.8px solid #979797 !important;
      border-radius: 15px !important;
      color: #979797 !important;
      font-family: "Poppins" !important;
      font-size: 1.4rem !important;
      font-weight: 300 !important;
      height: 6.2rem !important;
      min-width: 100% !important;
      text-transform: capitalize !important;
      &::placeholder {
        color: #979797 !important;
        font-family: "Poppins" !important;
        font-size: 1.4rem !important;
        font-weight: 300 !important;
        min-width: 100% !important;
        text-transform: capitalize !important;
      }
    }
    .iti--allow-dropdown,
    .wpforms-field-phone {
      width: 100% !important;
    }
    .wpforms-field {
      padding: 10px 0 !important;
      &.wpforms-field-number,
      &.wpforms-field-phone {
        display: inline-block;
        width: 49%;
      }
      &.wpforms-field-number {
        margin-right: 2%;
      }
    }
    .wpforms-field.wpforms-field-checkbox {
      font-size: 1.2rem !important;
      label {
        color: #979797 !important;
        font-size: 1.2rem !important;
      }
      li.choice-1 {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
      input {
        height: 14px !important;
        min-width: auto !important;
      }
      label,
      ul,
      li {
        display: inline !important;
      }
      label {
        color: black !important;
        margin-right: 7px;
      }
    }
  }
  .wpforms-submit-container {
    button {
      background-color: rgb(215 40 24 / var(--tw-bg-opacity)) !important;
      border-color: rgb(215 40 24 / var(--tw-border-opacity)) !important;
      border-radius: 15px !important;
      border-width: 4px !important;
      color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
      font-family: "Poppins", "sans-serif" !important;
      font-size: 1.5rem !important;
      font-weight: 700 !important;
      line-height: 2rem !important;
      margin-top: 3rem !important;
      overflow: hidden !important;
      padding-bottom: 1rem !important;
      padding-left: 8rem !important;
      padding-right: 8rem !important;
      padding-top: 1rem !important;
      position: relative !important;
      text-transform: uppercase !important;
      transition: all 0.3s !important;
      width: 100% !important;
      --tw-border-opacity: 1 !important;
      --tw-bg-opacity: 1 !important;
      --tw-text-opacity: 1 !important;
      &:hover {
        background-color: transparent !important;
        color: rgb(215 40 24 / var(--tw-text-opacity)) !important;
        --tw-text-opacity: 1 !important;
      }
    }
  }
}

body.modal-open {
  overflow-y: hidden;
  padding-right: 1rem;
  &::after {
    background-color: black;
    content: "";
    height: 100vh;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
}
